@font-face {
	font-family: "Euphoria";
	src: url("../fonts/EuphoriaScript-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "Open Sans Bold";
	src: url("../fonts/OpenSans-Bold.ttf") format("opentype");
}

@font-face {
	font-family: "Roboto";
	src: url("/fonts/Roboto-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "Roboto Black";
	src: url("/fonts/Roboto-Black.ttf") format("opentype");
}
@font-face {
	font-family: "Open Sans Extrabold";
	src: url("/fonts/OpenSans-Extrabold.ttf") format("opentype");
}

//add roboto black same as open sans