@font-face {
	font-family: "Euphoria";
	src: url("../fonts/EuphoriaScript-Regular.ttf") format("opentype");
}

@font-face {
	font-family: "Open Sans";
	src: url("../fonts/OpenSans-Regular.ttf") format("opentype");
}