@import "vars";
@import "libs";
@import "fonts";

body {
	font-family: "Open Sans", sans-serif;
}

section {
	padding:  80px 0; // replace with padding
}

h2, h3 {
	text-transform: uppercase;
}

h2 {
	position: relative;
	text-align: center; 
}

h2:before {
    top: -40px;
    left: calc(50% - 47px)
}

h2, h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Open Sans Bold";
	color: #2c2e37;

}

h2:before, h3:before {
	content: "";
	background: url(/images/waves.png)no-repeat;
    width: 94px;
    height: 7px;
    position: absolute;
}

h3:before {
    top: -30px
}

h3 {
	letter-spacing: 1px;
	font-size: 20px;
	position: relative;
}

h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Open Sans Bold";
	letter-spacing: 2.55px;
	margin: 40px 0;
}

.btn-outline-primary {
    color: #36aeea;
	border: 3px solid #36aeea;
}

.btn-primary {
	text-transform: uppercase;
	font-weight: 700;
	background-color: #36aeea;
	letter-spacing: 2px;
	border: none;
}

.head {
	background: url(/images/background_image.png) center top / cover no-repeat; //make more lighter
	height: 760px;
	margin: 0;
	
	header {
		background-color: rgba(245, 245, 245, 0.23);

			li {
				cursor: pointer;
				display: flex;
				text-transform: uppercase;
				font-size: 12px;
				font-weight: 700;
				color: #9daeb6;
			}
			.btn-outline-primary {
			    color: #36aeea;
				border: 3px solid #36aeea;
				font-size: 12px;
				letter-spacing: 1.92px;
				padding: 10px 45px;
				text-transform: uppercase;
				font-weight: 700;
			}

			.logo {
			font-family: "Euphoria";
			font-size: 29px;
			font-weight: 700;
			margin: 15px 20px 0px 0px;

			p {
				color: #36aeea;
			}
			b {
				color: #95a5ad;
			}

		}

	}
	.order {
	border: 2px solid white;
    margin: 130px auto;
    padding: 10px 40px 45px;
    	
    	h1 {
    		font-size: 50px;
    		letter-spacing: 3px;
    		color: white;
    		width: 100%;
    		text-transform: uppercase;
    		font-weight: 700;
    		p {
    			font-family: "Euphoria";
    			color: #36aeea;
    			font-size: 66px;
    			margin: -33px 0;
    			letter-spacing: 0;
    			text-transform: none;
    			font-weight: 600;
    			
    		}
    	}
    	
    	p {
    		font-size: 18px;
    		font-weight: 400;
    		color: #ffffff;
    		width: 40%;
    	}
    	
    	button {
    		padding: 15px 75px;
    		font-size: 14px;
    	}
	}
}
.about-us {
	background: url(/images/vector.png)calc(50% + 150px) center no-repeat, #f6f4f4;
	position: relative;
	margin: 0;
	

	button {
		font-size: 12px;
		padding: 1em 2em;
	}
	p {
		color:#949494;
		width: 31%;
		font-size: 14px;
	}

	.curves {
		background: #fff url(/images/Curves.png) no-repeat;
	    height: 570px;
	    width: 806px;
	    position: absolute;
	    top: -45px;
	    left: 51%;
	}

	.nogi {
		background: #fff url(/images/nogi.png) no-repeat;
	    height: 350px;
	    width: 350px;
	    position: absolute;
	    top: 270px;
	    left: 47%;
	}
	.container {
		min-height: 660px;
		display: flex;
	}
	.read-more {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items:end;

	}
}

.journal {
	.container {
		padding: 40px 0px 0px;

		.info {
			min-width: 379px;
			position: relative;
			height:380px;
			text-align: -webkit-center;
			padding: 35px ;

		}
		p {
			font-size: 14px;
			font-weight: 400;
			color: #777777;
			white-space: pre-line;
			margin-bottom: 60px;
		}
		span {
			font-size: 11px;
			font-weight: 700;
			letter-spacing: 1.74px;
			text-transform: uppercase;
			color: #16b5ef;
		}
		.love {
			background:url(/images/heart2.png)no-repeat center, url(/images/love.png) no-repeat, #bab7d9;

		}
		.tree {
			background: url(/images/Vector_Smart_Object.png)no-repeat center, url(/images/tree.png) no-repeat, #bab7d9;

		}
		.water {
			background: url(/images/Vector_Smart_Object1.png)no-repeat center,url(/images/water.png) no-repeat,  #bab7d9;

		}
		.row {
			margin: 60px 0;
			box-shadow: 6px -4px 20px -10px;
		}
		.love {
			&:before { // move all cascades to scss
				content: "";
			    height: 15px;
			    width: 15px;
			    position: absolute;
			    background-color: #fff;
			    right: -2%;
			    top: 15%;
			    transform: rotate(45deg);
			}
		}
		.tree {
			&:before {
				content: "";
			    height: 15px;
			    width: 15px;
			    position: absolute;
			    background-color: #fff;
			    left: -2%;
			    top: 15%;
			    transform: rotate(45deg);
			}
		}

		.water{
			&:before {
				content: "";
			    height: 15px;
			    width: 15px;
			    position: absolute;
			    background-color: #fff;
			    bottom: -2%;
			    left: 13%;
			    transform: rotate(45deg);
			}
		}

	}
}
.wanna-go {
	padding: 140px 0;
	background: url(/images/elkablur.png)92% 100%/449px no-repeat,url(/images/Layer_10_copy.png)100% 100%/188px no-repeat, url(/images/elka.png)75% 100%/269px no-repeat, url(/images/gori.png)0% 100%/1270px no-repeat, #f6f4f4;

    .container {
    	height: 350px;

    	button {
    		font-size: 16px;
    		padding: 0px 50px;
    	}

    	.input-group {
			width: 75%;
		}

		.form-control {
			padding: 30px 35px;
			font-size: 16px;
			font-weight: 400;
			border: 0;
		}

		a {
			position: absolute;
			text-indent: 25px;
			&:before {
				content: "";
			    background: url(/images/lock_locked.png) 100% no-repeat;
			    position: absolute;
			    height: 21px;
			    width: 21px;
			    left: -5px;
			}
		}


		p {
			color: #949494;
			font-size: 14px;
		}
    }

}
.work {
		.count {
			width: 48px;
		    height: 48px;
		    border-radius: 50%;
		    border: 3px solid #36aeea;
		    color: #36aeea;
		    font-weight: 700;
		    background-color: #ffffff;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
	}

	.icon {
		height: 179px;
		background: url(/images/Polygon.png) center no-repeat,  #f0f3f6;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 70px 0 30px;
	}
	h5 {
		font-size: 15px;
		font-weight: 500;
		font-family: "Roboto", sans-serif;

	}
	p {
		font-size: 13px;
		font-weight: 300;
		color: #949494;
		font-family: "Roboto", sans-serif;
	}
	.row {
		position: relative;
		margin-top: 40px ;

		&:before {
			content: "";
			width: calc(100% - 244px);
			height: 2px;
			background: url(/images/border.png);
			display: block;
			position: absolute;
			top: 23px;
			left: 122px;
		}
	}

	.col-md-2 {
		padding: 0;

		&:after {
			content: "";
			width: 80px;
			height: 2px;
			background: url(/images/border.png);
			display: block;
			position: absolute;
			top: 89px;
			left: 52px;
			transform: rotate(90deg);
		}
	}
}

.travel-us {
	background:url(/images/worldmap-dots.png) 40% 0%/1469px no-repeat, url(/images/Group_65.png) 69% 100%/1920px no-repeat;height: 1010px;
	.container {
		height: 1010px;
		margin-top: 40px;
	}

//make rating stars by bg-image with repeat

	.place {
	width: 200px;
	height: 382px;
	border-radius: 3px;
	}
	.carpathian {
		background: url(/images/Layer_108.png) no-repeat, #eee;
	}
	.alps {
		background: url(/images/Layer_109.png) no-repeat, #eee;
	}
	.pyrenees {
		background: url(/images/Layer_111.png) no-repeat, #eee;
	}
	.rocky {
		background: url(/images/Layer_116.png) no-repeat, #eee;
	}
	.kavkaz {
		background: url(/images/Layer_117.png) no-repeat, #eee;
	}
	strong {
		font-size: 28px;
		padding: 110px 15px 10px;
    	display: flex;
		color: white; //fix
		font-weight: 400;
		letter-spacing: -.03px;	
	}
	p {
		font-size: 16px;
		color: white;
		margin: 0 15px;
	}
	.price {
		width: 200px;
		height: 62px;
		background-color: rgba(0,0,0,.2);
		position: absolute;
		bottom: 0;
		padding: 20px 15px;
		color: white;
		display: flex;
		justify-content: space-between;

	}

}
.gallery {
	.row {
		margin-top: 40px;
		flex-wrap: nowrap;
	}
	img {
		margin-bottom: 30px;
	}
}
.sites {
	background-color:black;
	
	.container {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}
	img {
		padding:65px;
	}
}
.clients {
    background: url(/images/bg.png) center calc(86% + 120px)/120% 1135px no-repeat, url(/images/vid.png) top /120% 120% no-repeat;
    margin-bottom: 0;

    img {
    	padding: 10px 0;
    }

    p {
    	color: #bcbcbc;
    	font-size: 18px;
    	font-weight: 400;
    }

    .pavliv:after {
	content: "Pavliv Yaroslav Web designer";
	color: #36aeea;
	}

	.john:after {
		content: "Jonh Scott The Fringe ";
		color: #36aeea;
	}

    .container {
    	padding: 140px 0;

    	.write-info {
					width: 515px;
					padding: 20px 0 40px;
					background-color: rgba(251,251,251,.23);
					backdrop-filter: blur(3px);
					margin: auto;
					border-radius: 5px;

				input {
					width: 90%;
					margin: 20px 25px;
					padding: 1.5em 1em;
					color: #cccccc;
					font-family: "Roboto" ;
					font-size: 18px;
					font-weight: 400;
					// fix outline
				}

				button {
					padding:20px;
					width: 90%;
					margin: 0 25px;
					font-size: 16px;
					letter-spacing: 2.56px;
					font-weight: 700;
				}
				.registration {
					text-align: center;
					p {
						color: #383e4a;
						font-size: 16px;
						font-weight: 400;
					}
					b {
						color: #36aeea;
						font-family: "Open Sans Bold";
						font-size: 36px;
						letter-spacing: 3.6px;
						text-transform: uppercase;
					}
				}
			}
    	}

    .row {
    	margin-bottom: 60px;
    }
}


.footer {
	background: url(/images/bg.png) center calc(100% + 100px)/120% 3000px no-repeat;

	span {
		color: #ffffff;
		font-family: "Roboto" sans-serif;
		font-size: 27px;
		font-weight: 400;
		opacity: 0.7;
	}

	p {
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		opacity: 0.7;
	}

	.container {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
	.messagers {
		display: flex;

		.tw {
			background-color: #29c5f6;
			width: 40px;
			height: 41px;
			margin-right: 3px;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}
		.fb  {
			background-color:  #6788ce;
			width: 40px;
			height: 41px;
			margin-right: 3px;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}
		.vk {  
			background-color: #54769a;
			width: 40px;
			height: 41px;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}

	}
	
}

@import "media";
