@import "vars";
@import "libs";
@import "fonts";

body {
	font-family: "Open Sans", sans-serif;
}

section {
	padding: 70px 0; // replace with padding
}
.form-control:focus {
	box-shadow: none;
}
.btn, .btn-primary:focus {
	box-shadow: none;
}

h2, h3 {
	text-transform: uppercase;
}

h2 {
	position: relative;
	text-align: center; 
	margin-top: 40px;
}

h2:before {
    top: -40px;
    left: calc(50% - 47px)
}

h2, h3 {
	text-transform: uppercase;
	font-weight: 700;
	font-family: "Open Sans Bold";
	color: #2c2e37;
}

h2:before, h3:before {
	content: "";
	background: url(/images/waves.png)no-repeat;
    width: 94px;
    height: 7px;
    position: absolute;
}

h3:before {
    top: -30px;
}

h3 {
	letter-spacing: 1px;
	font-size: 20px;
	position: relative;
	margin-top: 32px;
}

h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-family: "Open Sans Bold";
	letter-spacing: 2.55px;
	margin: 40px 0;
}
h5 {
	font-family: "Roboto Black";
	font-weight: 400;
	font-size: 18px;
	color: #2c2e37;
}

.btn-outline-primary {
    color: $base-color;
	border: 3px solid $base-color;
	outline:none;
}

.btn-primary {
	text-transform: uppercase;
	font-weight: 700;
	background-color: $base-color;
	letter-spacing: 2px;
	border: none;
}

.head {
	background: url(/images/background_image.png) center top / 2250px no-repeat; //make more lighter
	padding: 0;
	
	.nav-link {
		position: relative;
	}
	.nav-link:hover {

			&:before {
			content: "";
		    width: 80% ;
		    height: 1.5px;
		    top: 25px;
			border: none;
			background-color: rgba(0,0,0,.5);
		    position: absolute;
			}
	}
	
	header {
		background-color: rgba(245, 245, 245, 0.23);

		li {
			cursor: pointer;
			display: flex;
			text-transform: uppercase;
			font-size: 12px;
			font-weight: 700;
			color: #9daeb6;
		}
		.btn-outline-primary {
		    color: $base-color;
			border: 3px solid $base-color;
			font-size: 12px;
			letter-spacing: 1.92px;
			padding: 10px 45px;
			text-transform: uppercase;
			font-weight: 700;
		}

		.logo {
			font-family: "Euphoria";
			font-size: 29px;
			font-weight: 700;
			margin: 15px 20px 0px 0px;

			p {
				color: $base-color;
			}
			b {
				color: #95a5ad;
			}
		}
	}
	.stab {
		padding: 150px 0;
	}
	.order {
		border: 2px solid $white-color;
	    padding: 10px 40px 45px;
	    border-top: none;
	    position: relative;

    	&:before, &:after {
    		content: "";
    		display: block;
    		position: absolute;
    		height: 2px;
    		background: $white-color;
    		top: 0;
    	}
    	&:before {
    		left: 0;
    		width: 71.5%;
    	}
    	&:after {
    		right: 0;
    		width: 11.5%;
    	}
    	
    	h1 {
    		font-size: 50px;
    		letter-spacing: 3px;
    		color: $white-color;
    		width: 100%;
    		text-transform: uppercase;
    		font-weight: 700;
    		p {
    			font-family: "Euphoria";
    			color: $base-color;
    			font-size: 66px;
    			line-height: 5px;
    			letter-spacing: 0;
    			text-transform: none;
    			font-weight: 600;
    		}
    	}
    	
    	p {
    		font-size: 18px;
    		font-weight: 400;
    		color: $white-color;
    		width: 40%;
    	}
    	button {
    		padding: 1.5em 75px;
    		font-size: 14px;
    	}
	}
}
.about-us {
	background: url(/images/vector.png)calc(50% + 150px) calc(50% + -35px) no-repeat, #f6f4f4;
	position: relative;
	padding: 0;

	button {
		font-size: 12px;
		padding: 1em 2em;
	}
	p {
		color: $grey-color;
		max-width: 340px;
	    font-size: 14px;
	    line-height: 26px;
	}

	.curves {
		background: $white-color url(/images/Curves.png) no-repeat;
	    height: 570px;
	    width: 806px;
	    position: absolute;
	    top: -45px;
	    right: 0;
	}

	.nogi {
		background: $white-color url(/images/nogi.png) no-repeat;
	    height: 350px;
	    width: 350px;
	    position: absolute;
	    top: 270px;
	    left: 47%;
	}
	.container {
		min-height: 660px;
		display: flex;
	}
	.read-more {
		display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items:end;
	}
}

.journal {
	.container {
		padding: 40px 0px 0px;

		.info {
			position: relative;
			height:380px;
			text-align: center;
			padding: 35px ;

		}
		p {
			font-size: 14px;
			font-weight: 400;
			color: #777777;
			white-space: pre-line;
			margin-bottom: 60px;
		}
		span {
			font-size: 11px;
			font-weight: 700;
			letter-spacing: 1.74px;
			text-transform: uppercase;
			color: #16b5ef;
		}
		.love {
			background:url(/images/heart2.png)no-repeat center, url(/images/love.png) no-repeat, #bab7d9;

		}
		.tree {
			background: url(/images/Vector_Smart_Object.png)no-repeat center, url(/images/tree.png) no-repeat, #bab7d9;

		}
		.water {
			background: url(/images/Vector_Smart_Object1.png)no-repeat center,url(/images/water.png) no-repeat,  #bab7d9;

		}
		.row {
			margin: 60px 0;
			box-shadow: 6px -4px 20px -10px;
		}
	}
}
		.love {
			&:before { // move all cascades to scss
				content: "";
			    height: 15px;
			    width: 15px;
			    position: absolute;
			    background-color: $white-color;
			    right: -2%;
			    top: 15%;
			    transform: rotate(45deg);
			}
		}
		.tree {
			&:before {
				content: "";
			    height: 15px;
			    width: 15px;
			    position: absolute;
			    background-color: $white-color;
			    left: -2%;
			    top: 15%;
			    transform: rotate(45deg);
			}
		}

		.water{
			&:before {
				content: "";
			    height: 15px;
			    width: 15px;
			    position: absolute;
			    background-color: $white-color;
			    bottom: -2%;
			    left: 13%;
			    transform: rotate(45deg);
			}
		}

.wanna-go {
	padding: 140px 0;
	background: url(/images/elkablur.png)92% 100%/449px no-repeat,url(/images/Layer_10_copy.png)100% 100%/188px no-repeat, url(/images/elka.png)75% 100%/269px no-repeat, url(/images/gori.png)left bottom/ calc(60% - -100px) no-repeat, #f6f4f4;
	
    .container {
    	height: 350px;

    	button {
    		font-size: 16px;
    		padding: 0px 50px;
    	}

    	.input-group {
			width: 75%;

			&:focus {
				outline: none;
			}
		}

		.form-control {
			padding: 30px 35px;
			font-size: 16px;
			font-weight: 400;
			border: 0;
		}

		span {
			position: absolute;
			text-indent: 25px;
			color: $base-color;

			&:before {
				content: "";
			    background: url(/images/lock_locked.png) 100% no-repeat;
			    position: absolute;
			    height: 21px;
			    width: 21px;
			    left: -5px;
			}
		}

		p {
			color: $grey-color;
			font-size: 14px;
		}
    }

}
.work {
	padding-bottom: 0;
		.count {
			width: 48px;
		    height: 48px;
		    border-radius: 50%;
		    border: 3px solid $base-color;
		    color: $base-color;
		    font-weight: 700;
		    background-color: $white-color;
		    display: inline-flex;
		    align-items: center;
		    justify-content: center;
	}

	.icon {
		@extend %flex-center;
		height: 179px;
		background: url(/images/Polygon.png) center no-repeat,  #f0f3f6;
		border-radius: 50%;
		margin: 70px 0 30px;
	}

	p {
		font-size: 13px;
		font-weight: 300;
		color: $grey-color;
		font-family: "Roboto", sans-serif;
	}
	.row {
		position: relative;
		margin-top: 40px ;

		&:before {
			content: "";
			width: calc(100% - 244px);
			height: 2px;
			background: url(/images/border.png);
			display: block;
			position: absolute;
			top: 23px;
			left: 122px;
		}
	}

	.col-md-2 {
		padding: 0;

		&:after {
			content: "";
			width: 80px;
			height: 2px;
			background: url(/images/border.png);
			display: block;
			position: absolute;
			top: 89px;
			left: 58px;
			transform: rotate(90deg);
		}
	}
}

.travel-us {
	background:url(/images/worldmap-dots.png) 40% 16%/1469px no-repeat, url(/images/Group_65.png) 60% calc(100% - 70px)/1920px no-repeat;

	.container {
		   padding: 100px 0 360px;
	}

	.rating {
    	
    	&:before {
    		content: "";
    		height: 32px;
    		background: url(/images/5zve.png);
    		position: absolute;
    		width: 108px;
    	}
	}
//make rating stars by bg-image with repeat
	.place {
		width: 200px;
		height: 382px;
		border-radius: 3px;
	}
	.carpathian {
		background: url(/images/Layer_108.png) no-repeat, #eee;
			.rating {
    	
    		&:before {
	    		content: "";
	    		height: 32px;
	    		background: url(/images/5zve.png);
	    		position: absolute;
	    		width: 88px;
    		}
    		&:hover {
    			background: blue;
    		}
		}
	}
	.alps {
		background: url(/images/Layer_109.png) no-repeat, #eee;
	}
	.pyrenees {
		background: url(/images/Layer_111.png) no-repeat, #eee;
	}
	.rocky {
		background: url(/images/Layer_116.png) no-repeat, #eee;
	}
	.kavkaz {
		background: url(/images/Layer_117.png) no-repeat, #eee;

		.rating {
    	
    		&:before {
	    		content: "";
	    		height: 32px;
	    		background: url(/images/5zve.png);
	    		position: absolute;
	    		width: 68px;
    		}
		}
	}
	strong {
		font-size: 28px;
		padding: 150px 15px 10px;
    	display: flex;
		color: $white-color; //fix
		font-weight: 400;
		letter-spacing: -.03px;	
	}
	p {
		font-size: 16px;
		color: $white-color;
		margin: 0 15px;
	}
	.price {
		width: 200px;
		height: 62px;
		background-color: rgba(0,0,0,.2);
		position: absolute;
		bottom: 0;
		padding: 20px 15px;
		color: $white-color;
		display: flex;
		justify-content: space-between;
		align-items: center;

		b {
			font-size: 26px;
			font-family: "Open Sans Extrabold";
			font-weight: 400;
		}
		s {
			font-size: 18px;
			font-weight: 400;
		}
	}
}
.gallery {
	padding-top: 0;
	.row {
		margin-top: 40px;
		flex-wrap: nowrap;
	}
	img {
		margin-bottom: 30px;
	}
}
.sites {
	background-color:black;
	
	.container {
		@extend  %flex-between;
	}
}
.clients {
    background: url(/images/bg.png) center calc(86% + 120px)/120% 1135px no-repeat, url(/images/vid.png) top /120% 120% no-repeat;
    margin-bottom: 0;

    .pavliv, .john {
    	color: $base-color;
    }

    img {
    	padding: 10px 5px;
    }
    .row {
	    p {
    	color: #bcbcbc;
    	font-size: 18px;
    	font-weight: 400;
    	position: relative;

			&:before {
			    content: "";
			    background: url(/images/skobka.png) no-repeat;
			    position: absolute;
			    width: 25px;
			    height: 40px;
			    top: -30px;
			}
    	}
    }
     .container {
    	padding: 140px 0;
    }
}

    	.write-info {
					width: 515px;
					padding: 20px 0 40px;
					background-color: rgba(251,251,251,.23);
					backdrop-filter: blur(3px);
					margin: auto;
					border-radius: 5px;

				input {
					width: 90%;
					margin: 20px 25px;
					padding: 1.5em 1em;
					color: #cccccc;
					font-family: "Roboto" ;
					font-size: 18px;
					font-weight: 400;
					// fix outline
				}

				button {
					padding:20px;
					width: 90%;
					margin: 0 25px;
					font-size: 16px;
					letter-spacing: 2.56px;
					font-weight: 700;
				}
				.registration {
					text-align: center;
					p {
						color: #383e4a;
						font-size: 16px;
						font-weight: 400;
					}
					b {
						color: $base-color;
						font-family: "Open Sans Bold";
						font-size: 36px;
						letter-spacing: 3.6px;
						text-transform: uppercase;
					}
				}
			}
    	

    .row {
    	margin-bottom: 60px;
    }

.footer {
	background: url(/images/bg.png) center calc(100% + 100px)/120% 3000px no-repeat;

	span {
		color: $white-color;
		font-family: "Roboto" sans-serif;
		font-size: 27px;
		font-weight: 400;
		opacity: 0.7;
	}

	p {
		color: $white-color;
		font-size: 18px;
		font-weight: 400;
		opacity: 0.7;
	}

	.container {
		display: flex;
		justify-content: space-between;
		padding: 20px 0;
	}
	.messagers {
		display: flex;

		.vk, .fb, .tw {
			width: 40px;
			height: 41px;
		}

		.tw {
			background: url(/images/twitter.png) 66% 61% no-repeat  #29c5f6;
			margin-right: 3px;
		}
		.fb  {
			background: url(/images/fbook.png) 59% 65% no-repeat  #6788ce;
			margin-right: 3px;
		}
		.vk {  
			background: url(/images/vk.png) 46% 56% no-repeat #54769a;
		}

	}
	
}


@import "media";

@media (max-width: 991px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
}



